html, body { padding: 0; margin: 0; }

body { overflow-y: scroll; font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
